* {
  box-sizing: border-box;
}

#quote {
  border: none;
  width: 100%;
  margin-top: 1em;
  resize: none;
  background: #000;
  color: #fff;
}

.container {
  width: auto;
  margin: 0 10%;
  padding: 1em 10%;
}

body {
  background: #f2f2f2;
}

h1 {
  text-align: center;
  margin: 0 0;
  width: auto;
}

fieldset {
  margin: auto 0;
  padding: auto 0;
  width: auto;
}
